.label{
  top: 10px;
  font-size: 14px;
  color: #009688
}

input:-webkit-autofill {
    border: $border-style !important;
    background-color: blue !important;
    -webkit-box-shadow: 0 0 0px 10px $c-blue inset;
    transition: background-color 5000s ease-in-out 0s;
}

.login{
  margin-top:100px;
}
