*{
  box-sizing: border-box;
  font-family: Arial tahoma
}
.clearfix::before,
.clearfix::after{
  display: table;
  content: '';
  clear: both;
}
.start{
  float: left;
}
.end{
  float: right;
}
.pools{
  width: 70%
}
.requests{
  width: 30%;
  border: 1px solid #ccc;
}
.add-pool{
  height: 200px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin: 10px;
  padding: 10px
}
