*{
  box-sizing: border-box;
}
.pool-details{
   display: flex;
   align-items: flex-start;
   flex-wrap: wrap;
   /* height: 100%; */
   background: #eee;
   border: 1px solid #ccc;
   margin: 10px;
   padding: 10px;
   width: 65%;
   border-radius: 5px;

}
.card{
  width: 20%;
  flex-grow: 1;
}
.pool-info{
  width:25%;
  background: #333;
  color:#fff;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  height: 100%;
}
.pool-parent{
  height: 500px;
  width: 80%;
  margin:auto;
}
.btn-primary {
    margin: auto;
}
.end {
  margin: auto;
}
